:root {
  --color__black: #000;
  --color__white: #fff;
  --color__gray: #545454;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 0 60px;
}

@media (min-width: 425px) and (max-width: 992px) {
  .page {
    padding: 45px 20px 60px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .page {
    padding: 28px 0 36px;
  }
}

/*HEADER ========================*/

.header {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  height: 74px;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
}

.header__logo {
  background: url(../../images/logo.svg) no-repeat;
  background-size: cover;
  width: 142px;
  height: 33px;
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .header {
    height: 56px;
  }

  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}

/*================================= HEADER*/


/*PROFILE ==================================*/

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__wrap {
  display: flex;
  gap: 30px;
}

.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 19px;
  align-items: baseline;
  align-content: center;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}

.profile__edit {
  background: url(../../images/icon__edit.svg) no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  transition: .2s ease;
}

.profile__edit:hover {
  opacity: .6;
}

.profile__about {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-column: span 3 / auto;
}

.profile__add {
  background: url(../../images/icon__add2.svg) no-repeat center;
  border: 2px solid var(--color__white);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: .2s ease;
}

.profile__add:hover {
  opacity: .6;
}

@media (max-width: 720px) {
  .profile {
    flex-direction: column;
    gap: 30px;
  }
  .profile__add {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .profile__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 26px;
  }
  .profile__info {
    gap: 4px 10px;
    padding-left: 27px;
  }
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
  .profile__about {
    font-size: 14px;
    grid-column: span 1 / auto;
  }
  .profile__edit {
    width: 18px;
    height: 18px;
  }
  .profile__add {
    background-size: 16px;
  }
}

/*===================================== PROFILE*/


/*CARDS ===============================*/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  gap: 20px 17px;
}

.cards__item {
  background: var(--color__white);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cards__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.cards__caption {
  display: flex;
  padding: 25px 20px 26px 21px;
  justify-content: space-between;
  align-items: center;
}

.cards__name {
  max-width: 185px;
  color: var(--color__black);
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.cards__like {
  border: none;
  background: url(../../images/icon__like.svg) no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: .2s ease;
}

.cards__like:hover {
  opacity: .5;
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .cards__caption {
    padding: 25px 20px 25px 21px;
  }
}

/*====================================== CARDS*/


/*FOOTER ================================*/

.footer__copyright {
  color: var(--color__gray);
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .footer__copyright {
    font-size: 14px;
  }
}

/*==================================== FOOTER*/



/*POPUP ====================================*/

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup_opened {
  display: block;
}

.popup__container {
  position: relative;
  top: 13%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 430px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 32px;
  height: 32px;
  background: url(../../images/icon__close.svg) no-repeat;
  background-size: 32px;
  cursor: pointer;
  transition: .2s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__form {
  background: var(--color__white);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: var(--color__black);
  margin: 0;
  padding-bottom: 54px;
}

.popup__input-wrap {
  display: grid;
  gap: 30px;
  border: 0;
  margin: 0;
  padding: 0;
}

.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0 9px;
}

.popup__submit {
  width: 100%;
  height: 50px;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: var(--color__black);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--color__white);
  margin-top: 48px;
  cursor: pointer;
  transition: .2s ease;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media (max-width: 550px) {
  .popup__container {
    padding: 48px 0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 424px) {
  .popup__container {
    top: 7%;
    max-width: 282px;
    padding: 36px 0;
  }

  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }

  .popup__form {
    padding: 25px 22px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
  }

  .popup__submit {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
/*==================================== POPUP*/
