/.htaccess
/.editorconfig
/*.htaccess
/.htaccess*
/web.config
/*web.config
/*.log
/*.sql

/*.txt
!/robots.txt
/sitemap*.xml
/.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*~
*/_*
/_*
/composer.*

/src/scripts

node_modules
dist

.idea
.DS_Store
.AppleDouble
.LSOverride
